<!--
  ~ Version for React Native
  ~ © 2020 YANDEX
  ~ You may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~ https://yandex.com/legal/appmetrica_sdk_agreement/
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yandex.metrica.plugin.reactnative">
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
</manifest>
